html
{
    scroll-behavior: smooth;
}
body
{
    width: 100%;
    overflow-x: hidden;
}
.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.container-reveu
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.navigare
{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.8vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 100%);
    opacity: 0.8;
}
.buton-nav
{
    padding-left: 20px;
    padding-right: 20px;    
    text-align: center;
}
.butoane-nav
{
    width: 100vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}
@keyframes imagine-eu-anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.imagine-eu
{
    padding: 10vh;
    animation: imagine-eu-anim 2s;
}
.container-text-eu
{
    padding-left: 15vw;
    padding-right: 15vw;
    width: 50vw;
    overflow: hidden;
}
.text-despre-mine
{
    text-align: center;
    animation: text-eu-anim 2s;
}
#reveuri-copii
{
    padding-left: 5vw;
    padding-right: 5vw;
}
.carduri
{
    gap: 5vw;
    display: flex;
}
.tabel-preturi
{
    border: 1px solid;
    width: 50vw;
    height: 40vh;
}
.tabel-preturi td,.tabel-preturi th
{
    border: 1px solid;
    width: min(600px, 20vw);
    height:auto;
}
.tabel-preturi th
{
    text-align: center;
}
.card
{
    display: flex;
    flex-direction: column;
    height: 8vh;
    border: 1px solid;
    border-radius: 10%;
    border-color: red;
    border-width: 2px;
    transition: height 1s;
    overflow: hidden;
}
#card1
{
    transition-timing-function: linear;
}
#card2
{
    transition-timing-function: linear;
}
#card3
{
    transition-timing-function: linear;
}
#card4
{
    transition-timing-function: linear;
}
.card:hover
{
    height: 40vh;
}

.titlu-card
{
    text-align: center;
}
.descriere-card
{
    padding-left: 1vw;
    padding-right: 1vw;

}