<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PLM SRL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body>
            <nav class="navigare">
                <a href="/"><img src="../imagini/Screenshot 2024-03-11 103224.png" width="100vh" height="65vh"></a>
                <div class="butoane-nav">
                    <a href="/"><h4 class="buton-nav">Acasa</h4></a>
                    <div class="wrapper-dropdown">
                            <div class="dropdown">
                                <a href="javascript:void(0)" class="drop-buton">Pachete</a>
                            <div class="dropdown-content">
                                <a href="./cumpara">Meditatii</a>
                                <a href="./date_publice">Simulare Bac</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </nav> 
        <div class="container-forma" id="div-form-creare">
            <form id="create-form" method="POST" action="/create_user">
                <input class="input-form" type="text" label="Username" name="username">
                
                <input class="input-form" type="password" label="Password" name="password">

                <input class="input-btn" type="submit">
            </form>
        </div>
    </body>

</html>