<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PLM SRL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <script src="scripturi/index.js" async defer></script>
    </head>
    <body>
        <nav class="navigare">
            <a href="#"><img src="../imagini/Screenshot 2024-03-11 103224.png" width="100vh" height="65vh"></a>
            <div class="butoane-nav">
                <a id="login_anc" href=<%= referinta %>><h4 class="buton-nav"><%= textul %></h4></a>
                <a href="#reveuri-copii"><h4 class="buton-nav">reveuri</h4></a>
                <div class="wrapper-dropdown">
                        <div class="dropdown">
                            <a href="javascript:void(0)" class="drop-buton">Pachete</a>
                        <div class="dropdown-content">
                            <a href="./cumpara">Meditatii</a>
                            <a href="./date_publice">Simulare Bac</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </nav>
        <div id="despre-mine" class="container">
            <img class="imagine-eu" src="../imagini/A80Z6628.JPG" width="400px" height="auto">
            <div class="container-text-eu">
                <h3 class="text-despre-mine">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed metus nec nibh placerat commodo non nec nibh. Sed porttitor hendrerit interdum. Morbi malesuada tincidunt risus, quis mattis risus tempus in. Nulla dignissim dictum ornare. Sed id massa ac sapien pellentesque pellentesque quis vel nulla. Nullam vel ullamcorper est. Aliquam eu orci dolor. Cras ut urna luctus ligula imperdiet malesuada. Duis a nulla in tortor accumsan congue non sagittis sapien. Mauris at ipsum vitae massa blandit lobortis id nec risus. Donec rutrum tellus quis lacus aliquam sollicitudin.
                </h3>
            </div>
        </div>
        <div id="reveuri-copii" class="container-reveu">
            <h1>Reveuri</h1>
            <div class="carduri">
                <div id="card1" class="card">
                    <div class="container-titlu-card">
                    <h2 class="titlu-card">Nume1</h2>
                    </div>
                    <div class="container-descriere">
                        <h4 class="descriere-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed metus nec nibh placerat commodo non nec nibh. Sed porttitor hendrerit interdum. Morbi malesuada tincidunt risus, quis mattis risus tempus in.</h4>
                    </div>
                </div>
                <div id="card2" class="card">
                    <div class="container-titlu-card">
                        <h2 class="titlu-card">Nume1</h2>
                        </div>
                        <div class="container-descriere">
                            <h4 class="descriere-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed metus nec nibh placerat commodo non nec nibh. Sed porttitor hendrerit interdum. Morbi malesuada tincidunt risus, quis mattis risus tempus in.</h4>
                        </div>
                </div>
                <div id="card3" class="card">
                    <div class="container-titlu-card">
                        <h2 class="titlu-card">Nume1</h2>
                        </div>
                        <div class="container-descriere">
                            <h4 class="descriere-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed metus nec nibh placerat commodo non nec nibh. Sed porttitor hendrerit interdum. Morbi malesuada tincidunt risus, quis mattis risus tempus in.</h4>
                        </div>
                </div>
                <div id="card4" class="card">
                    <div class="container-titlu-card">
                        <h2 class="titlu-card">Nume1</h2>
                        </div>
                        <div class="container-descriere">
                            <h4 class="descriere-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed metus nec nibh placerat commodo non nec nibh. Sed porttitor hendrerit interdum. Morbi malesuada tincidunt risus, quis mattis risus tempus in.</h4>
                        </div>
                </div>
            </div>
        </div>
    <br>
        <footer id="contact">
            <h1>Contact:</h1>
            <h3>Telefon: 0747812127</h3>
            <h3>Instagram: <a href="https://www.instagram.com/matei.dorb/">@matei.dorb</a></h3>
        </footer>
    </body>
</html>